.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: white;
    padding-bottom: 30px;
    padding-top: 30px;
    width: 600px;
    border-radius: 10px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.text{
    font-size: 48px;
    font-weight: 600;
    color: #000080;
}

.underline{
    width: 90px;
    height: 6px;
    background: #000080;
    border-radius: 10px;
}

.inputs{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    background: #A9A9A9;
    width: 500px;
    height: 70px;
    border-radius: 8px;
}

.input img{
    margin: 0 30px;
}

.input input{
    height: 50px;
    width: 350px;
    border: none;
    outline: none;
    background: transparent;
    color: #413f3f;
   
    font-size: 20px;
}

.forget-password{
    padding-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    color: #808080;
}

.forget-password span{
    color: #4c00b4;
    cursor: pointer;
}

.submit-container{
    display: flex;
    margin: 45px auto;
    gap: 30px;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background:#4c00b4 ;
    color: white;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #A9A9A9;
    color: #413f3f;
}